In [2]:
import random
import string
import pandas as pd

In [3]:
random.seed()
print(random.random())

0.5841867457112865

In [4]:
#mylist = ["apple", "banana", "cherry"]
#print(random.choices(mylist, weights = [20, 1, 1], k = 4))

In [5]:
# gerar lista com letras de A a Z 
letrasAZ = list(string.ascii_uppercase)

In [6]:
# gerar uma matriz/tabela
rows,cols = (20,40)
matriz = [["" for i in range(cols)] for j in range(rows)]
df_matriz = pd.DataFrame(matriz)
df_matriz.head(3)

  0  1  2  3  4  5  6  7  8  9   ... 30 31 32 33 34 35 36 37 38 39
0                                ...
1                                ...
2                                ...

[3 rows x 40 columns]

In [7]:
for i in range(rows):
    for j in range(cols):
        letra = random.choices(letrasAZ)
        #print(letra)
        matriz[i][j] = letra
df_matriz = pd.DataFrame(matriz)
df_matriz.head(3)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,[N],[G],[G],[N],[D],[K],[Z],[G],[D],[Q],...,[V],[I],[F],[U],[L],[P],[C],[F],[S],[J]
1,[N],[B],[A],[M],[K],[B],[N],[L],[F],[T],...,[Q],[X],[H],[X],[B],[W],[J],[M],[M],[M]
2,[B],[Z],[Q],[K],[C],[Q],[I],[C],[B],[D],...,[S],[B],[S],[C],[N],[R],[G],[M],[M],[O]

In [8]:
df_matriz.to_excel('caca_palavras.xlsx')