In [11]:
!pip install MetaTrader5
!pip install pandas

import MetaTrader5 as mt5
import pandas as pd
from datetime import datetime

Requirement already satisfied: MetaTrader5 in c:\python39\lib\site-packages (5.0.34)WARNING: You are using pip version 21.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.7 in c:\python39\lib\site-packages (from MetaTrader5) (1.20.3)
Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\python39\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 21.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

In [21]:
mt5.initialize()
d = mt5.terminal_info()
d = d._asdict()

# for k in d.keys():
#     print(k, ' ----> ', d[k])

ativo = 'BBSE3'
dataIni = datetime(2021,5,30)
flag = mt5.COPY_TICKS_ALL
count = 10
dados = mt5.copy_ticks_from(ativo, dataIni, count, flag)

df = pd.DataFrame(dados)

mt5.shutdown()

True

In [24]:
dados

array([(1622444402,  0.  ,  0.  , 23.45,  200, 1622444402742,  6,  200.),
       (1622444420, 23.35, 23.53, 23.45,  200, 1622444420000,  6,  200.),
       (1622453400, 23.35, 23.53, 23.45,  200, 1622453400593,  6,  200.),
       (1622454266, 23.35, 23.53, 23.45,  200, 1622454266318,  6,  200.),
       (1622454300, 23.35, 23.53, 23.45,  200, 1622454300161,  2,  200.),
       (1622454300, 26.  , 23.32, 23.45,  200, 1622454300566,  6,  200.),
       (1622455808, 26.  , 23.32, 23.43, 4400, 1622455808097, 56, 4400.),
       (1622455808, 26.  , 23.32, 23.43, 4900, 1622455808097, 56, 4900.),
       (1622455808, 26.  , 23.32, 23.43, 5200, 1622455808097, 56, 5200.),
       (1622455808, 26.  , 23.32, 23.43, 3900, 1622455808098, 56, 3900.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [25]:
df

         time    bid    ask   last  volume       time_msc  flags  volume_real
0  1622444402   0.00   0.00  23.45     200  1622444402742      6        200.0
1  1622444420  23.35  23.53  23.45     200  1622444420000      6        200.0
2  1622453400  23.35  23.53  23.45     200  1622453400593      6        200.0
3  1622454266  23.35  23.53  23.45     200  1622454266318      6        200.0
4  1622454300  23.35  23.53  23.45     200  1622454300161      2        200.0
5  1622454300  26.00  23.32  23.45     200  1622454300566      6        200.0
6  1622455808  26.00  23.32  23.43    4400  1622455808097     56       4400.0
7  1622455808  26.00  23.32  23.43    4900  1622455808097     56       4900.0
8  1622455808  26.00  23.32  23.43    5200  1622455808097     56       5200.0
9  1622455808  26.00  23.32  23.43    3900  1622455808098     56       3900.0