In [33]:
import pandas as pd
file = 'TravaAltaPut_BBSE3_BBSET225_BBSET230.xlsx'
# Load spreadsheet
xl = pd.ExcelFile(file)
# Print the sheet names
print(xl.sheet_names)

['Sheet1', 'rc']

In [34]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('rc')

In [35]:
df1

,Unnamed: 0,Ativo,Strike,bid,ask,Last,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,0,BBSE3,0.00,0.00,0.00,23.77,0.0,0.0,0.0,0.0
1,1,BBSET225,22.50,0.00,0.39,0.00,0.0,0.0,0.0,0.0
2,2,BBSET230,23.00,0.47,0.00,0.50,0.0,0.0,0.0,0.0
3,3,Dif.Strike,0.50,0.00,0.00,0.00,0.0,0.0,0.0,0.0
4,4,Val.Recebido/Lucro,0.08,0.00,0.00,0.00,0.0,0.0,0.0,0.0
5,5,Prej. Max,0.42,0.00,0.00,0.00,0.0,0.0,0.0,0.0
6,2,BBSET230,23.00,0.47,0.00,0.50,0.0,0.0,0.0,0.0
7,3,Dif.Strike,0.50,0.00,0.00,0.00,0.0,0.0,0.0,0.0
8,4,Val.Recebido/Lucro,0.08,0.00,0.00,0.00,NaN,NaN,NaN,NaN
9,5,Prej. Max,0.42,0.00,0.00,0.00,NaN,NaN,NaN,NaN

In [36]:
from datetime import date

data_atual = date.today()
print(data_atual)

2021-06-29